<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-sm-8">
      Card
    </div>
    <div class="col-sm-2">
      <button class="card-button">New Physical Card</button>
    </div>
    <div class="col-sm-2">
      <button class="card-button">New Virtual Card</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-tab-group>
        <mat-tab label="Virtual Card" > Virtual Card Content</mat-tab>
        <mat-tab label="Physical Card">

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
