<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-sm-8">
      <h4 class="card-text">Cards</h4>
    </div>
    <div class="col-sm-2">
      <button class="card-button">New Physical Card</button>
    </div>
    <div class="col-sm-2">
      <button class="card-button">New Virtual Card</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-tab-group>
        <mat-tab label="Virtual Cards" > Virtual Card Content</mat-tab>
        <mat-tab label="Physical Cards">
          <div class="row  mx-auto pt-4 pb-3">
            <div class="col-lg-6 col-md-6 col-sm-10">
              <mat-form-field appearance="outline" style=" font-family: Ubuntu, sans-serif; width: 250px;" class="rounded-top">
                <input matInput placeholder="  Search" [(ngModel)]="searchText"/>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div>
            <hr style="border: 1px solid #011627; opacity: 20%"/>
            <div class="row">
              <div class="col-sm">
              </div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
