<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-sm-7">
      <h4 class="card-text" style="color: #5C2799">Cards</h4>
    </div>
    <div class="col-sm-2">
      <button class="card-button">New Physical Card</button>
    </div>
    <div class="col-sm-2">
      <button class="card-btn">New Virtual Card</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-tab-group>
        <mat-tab label="Virtual Cards" > Virtual Card Content</mat-tab>
        <mat-tab label="Physical Cards" class="mb-3">
          <div class="row mx-auto pt-4 pb-0">
            <div class="col-lg-6 col-md-6 col-sm-10">
              <mat-form-field appearance="outline" style=" font-family: Ubuntu, sans-serif; width: 250px;" class="rounded-top">
                <input matInput placeholder="  Search" [(ngModel)]="searchText"/>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div *ngFor="let card of cards" >
            <hr />
            <div class="row mx-auto">
              <div class="col-sm-2">
                <div class="card"  style="height: 80px; width: 150px; border-radius: 6px; background: linear-gradient(128.39deg, rgba(0, 0, 0, 0.6) -29.7%, #000000 16.11%); color: #FFFFFF">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <span class="text-right amount">{{card.cardBalance | currency: card.cardCurrency}}</span>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-6 text-left card-code">*{{card.cardNumber.slice(card.cardNumber.length - 4)}}</div>
                      <div class="col-sm-6">
                        <img *ngIf= "card.cardType.toLowerCase() == 'verve'" src="assets/verve%20logo.png" style="background-color: #FFFFFF"/>
                        <img *ngIf= "card.cardType.toLowerCase() == 'visa'" src="assets/visa-curved-min.jpg" style="background-color: #FFFFFF"/>
                        <img *ngIf= "card.cardType.toLowerCase() == 'mastercard'" src="assets/master.jpg" style="background-color: #FFFFFF"/>
                      </div>
                    </div>
                  </div>
                </div><br/>
                <a (click)="initialize(card, longContent)" style="margin-left: 5px; color: #5C2799; text-decoration: none; cursor: pointer">View Details</a>
              </div>
              <div class="col-sm-1 mt-1 classWithPad">
                <button mat-button style="background: #5C2799; color: #FFFFFF;">Fund Card</button>
              </div>
              <div class="col-sm-1 mt-1 classWithPad">
                <button mat-flat-button style="color: #5C2799;">Freeze Card</button>
              </div>
              <div class="col-sm-1 mt-1 classWithPad">
                <button mat-flat-button style="color: #E4445D;" >Delete Card</button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #longContent let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body modal-card">
            <div class="row">
              <div class="col-sm">
                <img src="assets/wallet.svg"/>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm">
                <span class="card-number">{{selectedCard.cardNumber}}</span>
              </div>
            </div>
            <div class="row mt-3" style="color: #FFFFFF; font-family: serif">
              <div class="col-sm">
                <span>{{selectedCard.expiryMonth + '/' +selectedCard.expiryYear}}</span>
              </div>
              <div class="col-sm">
                <span>{{selectedCard.cvv}}</span>
              </div>
            </div>
            <div class="row mt-3" style="color: #FFFFFF; font-family: serif">
              <div class="col-sm">
                <span>{{selectedCard.cardName}}</span>
              </div>
              <div class="col-sm">
                <img *ngIf= "selectedCard.cardType.toLowerCase() == 'verve'" src="assets/verve%20logo.png" style="background-color: #FFFFFF"/>
                <img *ngIf= "selectedCard.cardType.toLowerCase() == 'visa'" src="assets/visa-curved-min.jpg" style="background-color: #FFFFFF"/>
                <img *ngIf= "selectedCard.cardType.toLowerCase() == 'mastercard'" src="assets/master.jpg" style="background-color: #FFFFFF"/>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm">
        <span style="color: #5C2799">Card Balance</span><br/>
        <span>{{selectedCard.cardBalance | currency: selectedCard.cardCurrency}}</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm">
        <p style="color: #5C2799">Card Transactions</p>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">BILLER</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">DATE</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of selectedCard.transactions; index as i">
        <!--<th scope="row">{{ i + 1 }}</th>-->
        <td>{{transaction.narration}}</td>
        <td>{{transaction.amount | currency: selectedCard.cardCurrency }}</td>
        <td>{{transaction.transactionDate | customDatePipe}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-template>

