<mat-sidenav-container class="example-container" style="height: 100vh; background: #ffffff;" >
  <mat-sidenav mode="side"  class="mx-auto" opened #sidenav style="background: #5C2799;">
    <mat-nav-list >
      <!--<img class="ml-3 mt-3" src="assets/Vector.png"/>-->
      <div class="text-center ml-3 mt-3" style="border: 1px solid white; height: 50px; width: 50px; border-radius: 50%; background-color: #FFFFFF">
        <img class="mt-3" src="assets/Vector%20(1).png"/>
      </div>
      <a class="link mt-3 ml-2" mat-list-item [routerLink]="'/dashboard'" [routerLinkActive]="'visited'"> Dashboard </a>
      <!--<a class="link" mat-list-item [routerLink]="'/send-money'" [routerLinkActive]="'visited'">
        Send Money
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>

      </a>-->
      <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0 app-nav-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #FFFFFF; font-size: 14px"><a>Send Money</a></mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item class="link" [routerLink]="'/send-money'" [routerLinkActive]="'visited'">Item One</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <a class="link ml-2" mat-list-item [routerLink]="'/request-money'" [routerLinkActive]="'visited'"> Request Money </a>
      <a class="link ml-2" mat-list-item [routerLink]="'/buy-airtime'" [routerLinkActive]="'visited'"> Buy Airtime </a>
      <a class="link ml-2" mat-list-item [routerLink]="'/pay-bills'" [routerLinkActive]="'visited'"> Pay Bills</a>
      <a class="link ml-2" mat-list-item [routerLink]="'/card'" [routerLinkActive]="'visited'"> Card </a>
      <!--<a class="link" mat-list-item [routerLink]="'/reports'" [routerLinkActive]="'visited'">
        Reports
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </a>-->
      <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0 app-nav-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #FFFFFF; font-size: 14px">Reports</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item class="link" [routerLink]="'/reports'" [routerLinkActive]="'visited'">Item One</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <a class="link ml-2" mat-list-item [routerLink]="'/settings'" [routerLinkActive]="'visited'"> Settings </a>
      <a class="link ml-2" mat-list-item [routerLink]="'/api-documentation'" [routerLinkActive]="'visited'"> Api Documentation </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3" style="background: #ffffff;">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()" style="color: #5C2799;">menu</mat-icon>
        </button>
        <span style="font-size: 14px; color: #5C2799">Hello, Enterprise Wallet Payment Salary Account</span>
        <div class="row mx-auto" style="width: 100%">
          <div class="col-sm text-right flex">
            <img src="../assets/me.jpg" alt="userImage" class="rounded-circle " style="height: 48px; width: 48px;"/>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon style="border-right: 1px solid grey; height: 25px;">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
            <button  (click)="logOut()" mat-button>Logout</button>
          </div>

        </div>

        <!--<mat-toolbar-row>
          <span style="font-size: 14px; color: #5C2799">Hello, Enterprise Wallet Payment Salary Account</span>
        </mat-toolbar-row>
        &lt;!&ndash; style=" margin-left: 500px; margin-right: 0"&ndash;&gt;
        <mat-toolbar-row class="logoDisplay" >
          <img src="../assets/me.jpg" alt="userImage" class="rounded-circle " style="height: 48px; width: 48px;"/>
        </mat-toolbar-row>
        <mat-toolbar-row style="border-right: 1px solid grey; height: 25px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button (click)="logOut()" mat-button>Logout</button>
        </mat-toolbar-row>-->
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


