.link {
  color: #ffffff;
  font-size: 14px;
}
.visited {
  color: #00C9B6;
}

.app-nav-accordion{
  background: #5C2799;
  color: #FFFFFF;
}

mat-sidenav::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

mat-sidenav::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

mat-sidenav::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

