.link {
  color: #ffffff;
}
.visited {
  color: #00C9B6;
}

.logoDisplay {
  list-style: none;
  margin-left: 50%;
  padding: 0 1rem;
  display: flex;
  height: 100%;
  align-items: center;
}

.name{
  padding-left: 2px;
  font-family:Ubuntu, sans-serif;
  margin-left: 0.5rem;
}
