<div class="container">
  <div class="row mb-5 mt-3">
    <div class="col-sm-4">
      <div class="card mat-elevation-z3" style="background: #011627;" >
        <div class="card-body" >
          <div class="row">
            <div class="col-sm " >
              <span class= "title" style="color: #FFFFFF;text-align: left;">YOUR WALLET BALANCE</span><br>
              <span style="color: #00C9B6; font-size: 36px;line-height: 43px;letter-spacing: 0em;text-align: left;">&#8358;150,000,000.88</span><br/><br/>
              <div class="row">
                <div class="col-sm">
                  <button class="icon-button"><span class="icon-button-text">0003480384 <i class="fa fa-info-circle" style="font-size: 14px"></i></span></button>
                </div>
                <div class="col-sm">
                  <button class="fund-button"><span class="fund-button-text">Fund Your Wallet</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <div style="font-size: 9px">
                <mat-form-field appearance="outline" style="width: 100px" class="float-lg-right">
                  <mat-label>This Week</mat-label>
                  <mat-select disableRipple>
                    <mat-option value="1">This Week</mat-option>
                    <mat-option value="2">Next Week</mat-option>
                    <mat-option value="3">Last Week</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm text-center" style="border-right: 1px solid grey">
              <span class="title">TRANSACTIONS</span><br>
              <span class="content">580</span>
            </div>
            <div class="col-sm text-center" style="border-right: 1px solid grey">
              <span class="title">AMOUNT SPENT</span><br>
              <!--'en-Us'-->
              <span class="content">12m</span>
            </div>
            <div class="col-sm text-center">
              <span class="title">AMOUNT RECEIVED</span><br>
              <span class="content">34m</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm transaction-title">Recent Transactions</div>
            <div class="col-sm text-right">
              <button mat-flat-button>View More</button>
            </div>
          </div>
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal-->

<ng-template #longContent let-modal>
  <!--<div class="modal-header text-center">
    <h4 class="modal-title ">Modal title</h4>
    &lt;!&ndash;<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>&ndash;&gt;
  </div>-->
  <div class="text-center mt-5">
    <span>🙌🏽</span><br/>
    <h3 class="custom-modal-title">Welcome to Wallets Business</h3>
  </div>
  <div class="modal-body text-justify custom-modal-content">
    <hr/>
    <p>Hello,</p>
    <p>Thanks so much for signing up. We know how difficult it can be to set up a corporate account for your
      business and that why we've made it really easy for you to get started with as little requirements
      as possible.</p>
    <p>Your Wallets Business account allows you to carry out most of your banking transactions right of the
      bat. You can also carry out bulk transactions very quickly. Cards are definitely something you want
      to try out especially for your cash and online expenses.</p>
    <p>I'll leave you now to go ahead and start exploring. If you run into any issues or need to clarify
      anything, please send me an email at john@wallets.africa or hit me up on Twitter @thejohnoke</p>
    <p>Thanks!</p>
    <p>John Oke, CEO, Wallets Africa</p>
    <div class="row my-5">
      <div class="col-sm text-center">
        <button mat-button style="width: 60%; background-color: #5C2799; color: #FFFFFF">Show me awesome!</button>
      </div>
    </div>
  </div>
  <!--<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>-->
</ng-template>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(longContent)">Large modal</button>
