.title {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0em;
}

.content {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0em;
}


.icon-button {
  border: 1px solid white;
  height: 30px;
  background: #D5E9FA;
  box-shadow: 0px 1px 6px 0px #000000;
  padding: 5px;
  width: 130px;
  left: 329px;
  top: 258px;
  border-radius: 6px;
}

.icon-button-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #0084F4;
}

.fund-button {
  border: 1px solid #00C9B6;
  height: 30px;
  background: #011627;
  box-shadow: 0px 1px 6px 0px #000000;
  padding: 5px;
  width: 130px;
  left: 329px;
  top: 258px;
  border-radius: 6px;
}

.fund-button-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #00C9B6;
}

.transaction-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5C2799;
}

table {
  width: 100%;
}
